body
{
	/* background-color: gray; */
	background-color: #ccc;
}
hr
{
	height: 5px;
	width: 40%;
	background-color: gray;
	border-width: 0px;
}
img
{
	width: 80px;
	height: 80px;
}
table ,td
{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	
}

table
{
	width: 50%;
	border-collapse: collapse;
}

.doPrawej
{
	text-align: center;
}

#komorka7
{
	text-align: center;
}
.koncowe
{
text-align: left;
color: blue;
}

.zapisy
{
	color: green;
}